[Unit]
Description=Network Encryptor
After=network.target
[Service]
Environment="LD_LIBRARY_PATH=/usr/bin/bin-ne/lib"
Type=simple
User=root
WorkingDirectory=/usr/bin/bin-ne
ExecStart=/usr/bin/bin-ne/network-encryptor
Restart=always
RestartSec=5s
TimeoutStopSec=5s

[Install]
WantedBy=multi-user.target
